<%= form_with(model: about_me, local: true) do |form| %>
  <% if about_me.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(about_me.errors.count, "error") %> prohibited this about_me from being saved:</h2>

      <ul>
      <% about_me.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
