<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <link href="https://fonts.googleapis.com/css?family=Bellefair|Fresca|Raleway" rel="stylesheet">
  </head>
  <body>
    <p id="notice"><%= notice %></p>

    <div class="back">
      <!--<%= link_to image_tag('logo.jpg', height: 100, width: 200), homes_path %>-->
      <%= link_to 'Home', homes_path %>
    </div>

    <h1>About Me</h1>
    <hr width="90%" height="5px" align="left" color="#FF20D7">


    <br>
    <footer>
      Copyright Licensed By Liam Neville
  </footer>

  </body>
</html>
