<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Photos</title>
    <link href="https://fonts.googleapis.com/css?family=Bellefair|Fresca|Raleway" rel="stylesheet">
  </head>
  <body>
    <p id="notice"><%= notice %></p>

    <div class="back">
    <%= link_to 'Back to Home', homes_path %>
  </div>

    <h1>My Photos Page</h1>
    <hr width="90%" height="5px" align="left" color="#FF20D7">
    <div class="image_list">
    <ul>
    <li>
      <img src="https://pbs.twimg.com/media/C80DdHAXUAEChRP.jpg" alt="Lax Pic" width = "120" height="75">
    </li>
    <li>
      <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-9/12794600_1175443042474704_7867441092386190478_n.jpg?oh=cd301b68cad88f1cfee21a3ef90ceb54&oe=59C987EF" alt="Lax Pic" width = "120" height="75">
    </li>
  </ul>
</div>


    <br>
    <footer>
    <div>Icons made by
      <a href="http://www.flaticon.com/authors/icomoon" title="Icomoon">Icomoon</a>
      from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by
      <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </div>
  </footer>

  </body>
</html>
