<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link href="https://fonts.googleapis.com/css?family=Bellefair|Fresca|Raleway" rel="stylesheet">
  </head>
  <body>
    <p id="notice"><%= notice %></p>
    <div class="header">
    <h1>Liam Neville</h1>
  </div>

  <hr width="90%" height="5px" align="left" color="#ff8330">

    <div class="links">
        <%= link_to 'Photos', photos_path %>
        <%= link_to 'About Me', about_mes_path %>
        <%= link_to 'Resume', resumes_path %>
    </div>

    <br>


    <footer>
      Copyright Licensed By Liam Neville
  </footer>

  </body>

</html>
