// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image_list {
  background-color: rgb(32, 212, 255);
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}
