// Place all the styles related to the Resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.download {
  font-size: 20px;
  position: absolute;
  right: 120px;
  top: 160px;
  padding-top: 20px;
  padding-right: 20px;
  margin-right: 40px;
  background-size: 120%;
}

.resume {
  background-color: #FFF;
  margin-left: 0px;
  margin-right: 120px;
  padding: 15px 15px;
  border-radius: 25px;
  border: 3px solid #000;
}

.place {
  border-radius: 25px;
  border: 3px solid #ff8330;
  background-color: #FFF;
  border-width: thin;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 50%;
}

.links {
  align-items: center;
  font-size: 24px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.job {
  font-family: 'Dosis', sans-serif;
}

.myname {
  font-size: 40px;
}
